---
import '@fontsource/newsreader/400.css';
import '@fontsource/newsreader/500.css';
import '@fontsource/inter/400.css';
import '@fontsource/inter/500.css';

import SEO, { type Props as SEOProps } from '~/components/SEO.astro';
import { Header } from '~/components/layout';
import '~/index.css';

export interface Props {
  title: string;
  subtitle: string;
  seo: SEOProps;
}
const { title, subtitle, seo } = Astro.props as Props;
---

<html lang="en">
  <head>
    <SEO {...seo} />
  </head>
  <body>
    <Header />

    <!-- 93px is the Header height -->
    <main class="mt-[93px] pb-24 pt-12">
      <h1>{title}</h1>
      <p class="text-sm mt-2 mb-5">{subtitle}</p>

      <slot />
    </main>
  </body>
</html>
