---
import SEO, { type Props as SEOProps } from '~/components/SEO.astro';
import { SkipToContent } from '~/components/common';
import { Header, Footer } from '~/components/layout';
import '~/index.css';

export interface Props {
  title: string;
  seo: SEOProps;
}
const { title, seo } = Astro.props as Props;
---

<html lang="en">
  <head>
    <SEO {...seo} />
  </head>
  <body>
    <SkipToContent />

    <Header />

    <!-- 93px is the Header height -->
    <main id="main" class="mt-[93px] pb-24 pt-12">
      <h1>{title}</h1>
      <section class="mb-8 mt-2 text-sm">
        <slot name="subtitle" />
      </section>

      <section class="flex flex-col gap-5">
        <slot name="contents" />
      </section>
    </main>

    <Footer />
  </body>
</html>
