---
import { fade } from 'astro:transitions';
import SEO, { type Props as SEOProps } from '~/components/SEO.astro';
import { SkipToContent } from '~/components/common';
import { Header, Footer } from '~/components/layout';
import { cn } from '~/lib/utils';
import '~/index.css';

export interface Props {
  title: string;
  seo: SEOProps;
  layoutType?: 'base' | 'content';
}
const { title, seo, layoutType = 'base' } = Astro.props as Props;
---

<html lang="en">
  <head>
    <SEO {...seo} />
  </head>
  <body>
    <SkipToContent />

    <Header />

    <!-- 93px is the Header height -->
    <main id="main" class="mt-[93px] pb-24 pt-12">
      <h1 transition:animate={fade({ duration: '0.5s' })}>{title}</h1>

      <section
        class={cn(['mb-8 mt-2', layoutType === 'base' && 'text-sm'])}
        transition:animate={fade({ duration: '0.5s' })}
      >
        <slot name="subtitle" />
      </section>

      <section
        class="flex flex-col gap-5"
        transition:animate={fade({ duration: '0.3s' })}
      >
        <slot name="contents" />
      </section>
    </main>

    <Footer />
  </body>
</html>
