---
import { Icon } from 'astro-icon/components';

import { Link } from '~/components/common';

const year = new Date().getFullYear().toString().replace('0', 'k');
---

<footer>
  <div
    class="px-5 pt-5 xs:px-2 pb-14 text-sm flex justify-between border-t border-dashed"
  >
    <ul>
      <li>
        <p>© {year}</p>
      </li>
      <li>
        <p>
          Crafted w/
          <Link href="https://astro.build" ariaLabel="Astro Website" isNewTab>
            <Icon name="tabler:brand-astro" />
          </Link>
        </p>
      </li>
      <li>
        <p>
          Shipped on
          <Link
            href="https://pages.cloudflare.com"
            ariaLabel="Cloudflare Website"
            isNewTab
          >
            <Icon name="tabler:brand-cloudflare" />
          </Link>
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <Link
          href="https://github.com/up2dul/site"
          ariaLabel="Source code on GitHub"
          isNewTab
        >
          <Icon name="tabler:code" /> Source Code
        </Link>
      </li>
      <li>
        <Link href="/feed.xml" ariaLabel="RSS feed">
          <Icon name="tabler:rss" /> RSS
        </Link>
      </li>
    </ul>
  </div>
</footer>

<style>
  ul {
    @apply flex flex-col gap-2;

    &:nth-child(2) {
      @apply text-right;
    }
  }
</style>
