---
import { ThemeButton } from '~/components/common';
---

<header class="fixed top-0 z-10 w-full pt-7 pb-5 backdrop-blur-md">
  <nav class="flex items-center justify-between px-5 xs:px-2">
    <ul class="flex gap-4 font-serif sm:gap-8 md:gap-12">
      <li><a href="/" aria-label="Home navigation">home</a></li>
      <li><a href="/writings" aria-label="Writings navigation">writings</a></li>
    </ul>

    <ThemeButton />
  </nav>
</header>
