---
import { BaseLayout } from '~/components/layout';
---

<BaseLayout
  title="Abdul Malik"
  subtitle="/Frən(t) ˈɛnd wɛb dɪˈvɛləpə/"
  seo={{ title: 'Home' }}
>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, soluta! Quae
    nobis quos iste incidunt facilis assumenda magni, ducimus voluptates
    cupiditate, placeat fuga. Magnam praesentium, perspiciatis maiores voluptate
    labore culpa.
  </p>
</BaseLayout>
