---
import { BaseLayout } from '~/components/layout';
---

<BaseLayout
  title="Writings"
  subtitle="A collection of my notes."
  seo={{ title: 'Writings' }}
>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente fuga quos
    repudiandae.
  </p>
</BaseLayout>
