---
import { BaseLayout } from '~/components/layout';
import { ContentCard, Link } from '~/components/common';
---

<BaseLayout title="Writings" seo={{ title: 'Writings' }}>
  <Fragment slot="subtitle">
    <p class="italic">
      "Write about what you learn. It pushes you to understand topics better."
    </p>
    <p>
      ~<Link
        href="https://addyosmani.com"
        aria-label="Addy Osmani website"
        isNewTab>Addy Osmani</Link>
    </p>
  </Fragment>

  <Fragment slot="contents">
    <ContentCard
      href="/writings/slug"
      title="The title will be here"
      subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Subtitle here."
      createdAt="10 May 2024"
      timeToRead={1}
    />
    <ContentCard
      href="/writings/slug"
      title="The title will be here (2)"
      subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Subtitle here."
      createdAt="4 May 2024"
      timeToRead={2}
    />
    <ContentCard
      href="/writings/slug"
      title="The title will be here (3)"
      subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Subtitle here."
      createdAt="22 April 2024"
      timeToRead={5}
    />
  </Fragment>
</BaseLayout>
