<a href="#main" aria-label="Skip to content"> Skip to content </a>

<style>
  a {
    @apply p-2 text-sm absolute -top-10 left-10 z-20 -translate-y-12;

    &:focus {
      @apply top-8 translate-y-3;
    }
  }
</style>
