@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-*: initial;
  --font-sans: Inter, sans-serif;
  --font-serif: Newsreader, serif;

  --color-*: initial;
  --color-dark-50: #5d5d5d;
  --color-dark-100: #171717;

  --color-light-50: #dcd9cc;
  --color-light-100: #f2f1ec;

  --color-transparent: transparent;

  --breakpoint-xs: 475px;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans font-normal bg-light-100 text-dark-100;
    @apply dark:bg-dark-100 dark:text-light-100;
  }

  *::selection {
    @apply bg-dark-50 text-light-100;
    @apply dark:bg-light-50 dark:text-dark-100;
  }

  main {
    @apply px-5;
  }

  header,
  footer {
    @apply px-0;
  }

  main,
  header,
  footer {
    @apply xs:px-10 sm:px-20 md:px-48 lg:px-60 xl:px-96;
  }

  pre {
    @apply p-4;
  }

  a {
    @apply px-1;
    @apply text-dark-100 underline decoration-dashed underline-offset-4 transition;
    @apply dark:text-light-100 hover:text-dark-50 dark:hover:text-light-50 hover:decoration-solid;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif font-medium;
  }

  p {
    @apply leading-relaxed text-dark-50 dark:text-light-50;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
  }

  [data-icon] {
    @apply inline-block text-[1.3em] mb-[2px];
  }

  /* for theme button icon */
  #sun-icon {
    @apply hidden dark:block;
  }
  #moon-icon {
    @apply block dark:hidden;
  }
}
